<?xml version="1.0"?>
<SettingsData xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <VolumeMaster>0</VolumeMaster>
  <VolumeMenu>0</VolumeMenu>
  <VolumeMusic>-10</VolumeMusic>
  <VolumeSFX>0</VolumeSFX>
  <GraphicsQuality>4</GraphicsQuality>
</SettingsData>